.pad {
  height: 80px;
  width: 80px;
  margin: 2px;
  cursor: pointer;
  border-radius: 2px;
}

.pad:active {
  background-color: lightcyan;
  color: #ccc;
}

.active {
  background-color: lightcyan;
  color: #ccc;
}
