.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.note-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-white {
  height: 160px;
  width: 80px;
  background: white;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
}

.note-black {
  height: 80px;
  width: 122px;
  background: #ccc;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  color: white;
}

.note-black.e,
.note-black.p {
  height: 80px;
  width: 80px;
}

/* .note:active {
  background: grey;
} */

.active {
  background-color: lightcyan;
  color: #ccc;
}
