.note-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-white {
  height: 160px;
  width: 80px;
  background: white;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
}

.note-black {
  height: 80px;
  width: 122px;
  background: #ccc;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  color: white;
}

.note-black.e,
.note-black.p {
  height: 80px;
  width: 80px;
}

/* .note:active {
  background: grey;
} */

.active {
  background-color: lightcyan;
  color: #ccc;
}
